<div ng-controller="SignUpCtrl as ctrl">


    <!-- Link to submit -->
    <form name="signUpForm">

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="First Name"
                   required
                   ng-model="ctrl.signUpForm.firstName"/>
        </div>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Last Name"
                   required=""
                   ng-model="ctrl.signUpForm.lastName"/>
        </div>

        <div class="form-group">
            <input type="email"
                   class="form-control"
                   placeholder="Email"
                   required
                   ng-model="ctrl.signUpForm.email"/>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Submit"/>
            <input type="reset" class="btn btn-default" value="Reset"/>
        </div>

        <div class="alert alert-success" role="alert" data-ng-show="ctrl.success === true">
            {{ctrl.successMessage}}
        </div>
        <div class="alert alert-danger" role="alert" data-ng-show="ctrl.success === false">
            {{ctrl.errorMessage}}
        </div>

    </form>
</div>