<ul class="nav nav-pills nav-stacked">
    <li data-ng-class="{ 'active' : main.isOpen(main.pageType.HTTP)}">
        <a data-ng-click="main.open(main.pageType.HTTP)">
            1. $http
        </a>
    </li>
</ul>